@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #101B37;
    --rosa: #E41376;
    --azul: #5edfff;
    --branco: #ffffff;
    --cinza: #bebebe;
    --cinza-escuro: #223157;
}

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.azul {
    color: var(--azul);
    filter: drop-shadow(0 0 30px var(--azul));
}

.rosa {
    color: var(--rosa);
}

.cinza {
    color: var(--cinza);
}

.barra-navegacao {
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    margin: 1.5% 2% 1% 2%;
    align-items: center;

}

.logo {
    width: 15em;
}

.barra-navegacao__links {
    width: 20%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.item {
    color: var(--branco);
}

.cabecalho {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 15rem 12rem 20rem 12rem;
    font-size: larger;
    align-items: center;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
}

.cabecalho__texto{
    width: 45%;
}


.cabecalho__titulo {
    font-size: 5em;
}

.cabecalho__paragrafo__primeiro,
.cabecalho__paragrafo__segundo {
    color: white;
    overflow: hidden;
    border-right: .15em solid rgb(255, 135, 229);
    white-space: nowrap;
    margin: 0;
    visibility: hidden;
}

.cabecalho__paragrafo__primeiro {
    animation: typing1 2.0s steps(40, end) forwards, blink-caret .75s step-end infinite;
    animation-delay: 0s;
    visibility: visible;
    opacity: 1;
  }
  
.cabecalho__paragrafo__segundo {
   animation: typing2 2.0s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
   animation-delay: 2s;
}

@keyframes typing1 {
    from {
        width: 0;;
        visibility: hidden;
        border-right: .15em solid rgb(255, 135, 229);
    }

    to {
        width: 100%;
        visibility: visible;
        border-right: transparent;
    }
}

@keyframes typing2 {
    from {
        width: 0;
        visibility: hidden
    }

    to {
        width: 100%;
        visibility: visible;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(255, 135, 229)
    }
}

.cabecalho__imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: var(--cinza-escuro);
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::before {
    content: "";
    position: relative;
    width: 200px;
    height: 600px;
    background: linear-gradient(180deg, pink, blue);

    animation: animate 5s linear infinite;
}

@keyframes animate {
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: "";
    position: absolute;
    background-color: var(--cinza-escuro);
    inset: 5px;
    border-radius: inherit;
}

.cabecalho__imagem__logo {
    width: 40%;
    position: absolute;
    z-index: 1;
}

.principal__apresentacao {
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between;
    padding: 12rem 12rem 12rem 12rem;
    text-align: center;
}

.principal__apresentacao__info {
    font-size: 2em;
    width: 50%;
    padding: 5%;
}

.principal__apresentacao__info__paragrafo {
    font-size: 0.7em;
    text-align: left;
    padding-top: 5%;
}

.principal__apresentacao__imagem {
    margin: auto;
}

.principal__participar {
    margin: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 25em;
    justify-content: space-between;
}

.principal__participar__titulo{
    font-size: 3em;
}

.principal__participar__sub-titulo{
    font-size: 1.5em;
}

.principal__participar__dedicacao{
    font-size: 2em;
}


.principal__trilha {
    background-color: #F2D2BD;
    text-align: center;
}

.principal__trilha__secao {
    display: flex;
    justify-content: center;
    align-items: center;

}

.principal__trilha__info {
    color: black;
    width: 50%;
    padding: 10%;
}

.principal__trilha__info h3 {
    font-size: 5em;
    margin-bottom: 2%;
}

.principal__trilha__info p {
    font-size: 2em;
}


.principal__trilha__devjourney {
    background-color: #ffffff;
    display: block;
    justify-content: center;
    text-align: center;
    padding: 7rem;
    font-size: 1.5em;
}

.principal__trilha__devjourney__info {
    font-size: 2em;
    color: black;
}

.principal__trilha__devjourney__paragrafo {
    margin: 2vw;
    color: black;

}

.logo__dev {
    width: 50%;
}

.rodape {
    background-color: var(--cinza-escuro);
    text-align: center;
}

.rodape__apresentacao,
.rodape__paragrafo {
    padding: 2%;
}

.rodape__item {
    width: 2em;
}