@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --cor-de-fundo: #101B37;
    --rosa: #E41376;
    --azul: #5edfff;
    --branco: #ffffff;
    --cinza: #bebebe;
    --cinza-escuro: #223157;
}

* {
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco);
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
}

.azul {
    color: var(--azul);
    filter: drop-shadow(0 0 30px var(--azul));
}

.rosa {
    color: var(--rosa);
}

.cinza {
    color: var(--cinza);
}

.barra-navegacao {
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    margin: 1.5% 2% 1% 2%;
    align-items: center;

}

.logo {
    width: 15em;
}

.barra-navegacao__links {
    width: 20%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
}

.item {
    color: var(--branco);
    cursor: pointer;
}

.cabecalho {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    display: flex;
    justify-content: space-between;
    padding: 15rem 12rem 20rem 12rem;
    font-size: larger;
    align-items: center;
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0, 0.25);
}

.cabecalho__texto {
    width: 100%;
}


.cabecalho__titulo {
    font-size: 5em;
}

.cabecalho__paragrafo__primeiro,
.cabecalho__paragrafo__segundo {
    color: white;
    overflow: hidden;
    border-right: .15em solid rgb(255, 135, 229);
    white-space: nowrap;
    margin: 0;
    visibility: hidden;
}

.cabecalho__paragrafo__primeiro {
    animation: typing1 2.0s steps(40, end) forwards, blink-caret .75s step-end infinite;
    animation-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.cabecalho__paragrafo__segundo {
    animation: typing2 2.0s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
    animation-delay: 2s;
}

@keyframes typing1 {
    from {
        width: 0;
        ;
        visibility: hidden;
        border-right: .15em solid rgb(255, 135, 229);
    }

    to {
        width: 100%;
        visibility: visible;
        border-right: transparent;
    }
}

@keyframes typing2 {
    from {
        width: 0;
        visibility: hidden
    }

    to {
        width: 100%;
        visibility: visible;
        border-right: .15em solid rgb(255, 135, 229);
        ;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: rgb(255, 135, 229)
    }
}

.cabecalho__imagem {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    background-color: var(--cinza-escuro);
    border-radius: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.box::before {
    content: "";
    position: relative;
    width: 200px;
    height: 600px;
    background: linear-gradient(180deg, pink, blue);

    animation: animate 5s linear infinite;
}

@keyframes animate {
    100% {
        transform: rotate(360deg);
    }
}

.box::after {
    content: "";
    position: absolute;
    background-color: var(--cinza-escuro);
    inset: 5px;
    border-radius: inherit;
}

.cabecalho__imagem__logo {
    width: 40%;
    position: absolute;
    z-index: 1;
}

.linha__coluna {
    position: relative;
    display: flex;
    justify-content: center;
}

.linha {
    width: 5px;
    height: 165px;
    background-color: var(--rosa);
    filter: drop-shadow(10px 10px 10px var(--rosa));
}

.tipo-azul {
    background-color: var(--azul);
    filter: drop-shadow(10px 10px 10px var(--azul));
}

.linha:nth-of-type(2) {
    transform: translate(80px, -80px)rotate(90deg);
}

.inverso {
    transform: translate(-90px, -50px)rotate(180deg);

}

.principal__apresentacao {
    background-color: var(--cor-de-fundo);
    display: flex;
    justify-content: space-between;
    padding: 12rem 12rem 12rem 12rem;
    text-align: center;
}

.principal__apresentacao__info {
    font-size: 2em;
    width: 50%;
    padding: 5%;
}

.principal__apresentacao__info__paragrafo {
    font-size: 0.7em;
    text-align: left;
    padding-top: 5%;
}

.principal__apresentacao__imagem {
    margin: auto;
}

.principal__participar {
    margin: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 20em;
    justify-content: space-between;
}

.principal__participar__titulo {
    font-size: 3em;
}

.principal__participar__info {
    padding: 2em 0;
    border: solid 3px #5edfff;
    filter: drop-shadow(0 0px 3px var(--azul));
    animation: mudandoCor 3s linear infinite;
}

@keyframes mudandoCor {
    0% {
        border: solid 3px #5edfff;
    }

    50% {
        border: solid 3px #f25eff;
    }

    100% {
        border: solid 3px #5edfff;
    }
}

.principal__participar__sub-titulo {
    font-size: 1.5em;
}

.principal__participar__dedicacao {
    font-size: 2em;
}


.principal__trilha {
    background: linear-gradient(to bottom, #F2D2BD, #8fa0ee);
    text-align: center;
}

.principal__trilha__secao {
    display: flex;
    justify-content: center;
    align-items: center;

}

.principal__trilha__info {
    color: black;
    width: 50%;
    padding: 5% 10%;
}

.principal__trilha__info h3 {
    font-size: 5em;
    margin-bottom: 2%;
}

.principal__trilha__info p {
    font-size: 2em;
}


.principal__trilha__devjourney {
    background-color: #ffffff;
    /* display: block; */
    text-align: center;
    font-size: 1.5em;
}

.animacao__cores {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    height: 100%;
    padding: 7rem;
    background-color: #3498db;
    animation: rotacao 8s linear infinite;
}

@keyframes rotacao {
    0% {
        background-color: #bbecff;
    }

    25% {
        background-color: #eddcff;
    }

    50% {
        background-color: #9fbaff;
    }

    75% {
        background-color: #bbecff;
    }

    100% {
        background-color: #bbecff;
    }
}

.principal__trilha__devjourney__info {
    font-size: 2em;
    color: black;
}

.principal__trilha__devjourney__paragrafo {
    margin: 2vw;
    color: black;

}

.principal__trilha__seta {
    position: relative;
    display: flex;
    justify-content: center;
}

.seta {
    width: 25px;
    height: 105px;
    background-color: #223157;
    border-radius: 10px;
    margin: 14px;
    animation: luz 2s infinite ease-in-out;
}

.seta:nth-of-type(1) {
    transform: rotate(-40deg);
}

.seta:nth-of-type(2) {
    transform: rotate(40deg);
}

.primeira__seta {
    animation-delay: 0.33s;
}

.segunda__seta {
    animation-delay: 0.66s;
}

.terceira__seta {
    animation-delay: 0.99s;
}

@keyframes luz {
    0% {
        background-color: #D98066;
    }

    50% {
        background-color: #223157;
    }

    100% {
        background-color: #D98066;
    }
}

.logo__dev {
    width: 50%;
}

.rodape {
    background-color: var(--cinza-escuro);
    text-align: center;
}

.rodape__apresentacao,
.rodape__paragrafo {
    padding: 2%;
}

.rodape__item {
    width: 2em;
}

@media screen and (max-width: 768px) {

    body {
        font-size: 1rem;
    }

    /*topo do Site*/

    .barra-navegacao {
        display: none;
    }


    .cabecalho {
        flex-direction: column-reverse;
        padding: 5rem 2rem;
        text-align: center;
    }

    .cabecalho__titulo {
        font-size: 4rem;
        word-wrap: break-word;
        white-space: normal;
        overflow-wrap: break-word;
    }


    .cabecalho__paragrafo__primeiro,
    .cabecalho__paragrafo__segundo {
        font-size: 1rem;
        word-wrap: break-word;
    }

    .cabecalho__imagem {
        margin: 2rem 0 2rem 0;
    }

    .box {
        width: 15em;
        height: 25em;
    }

    /*about us*/

    .principal__apresentacao {
        flex-direction: column;
        padding: 0.2rem;
        align-items: center;
    }

    .principal__apresentacao__info {
        text-align: center;
        width: 100%;
        padding: 0.2;
    }

    .principal__apresentacao__info__paragrafo {
        text-align: center;
    }

    .principal__apresentacao__imagem {
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
    }

    .logo__dev {
        width: 95%;
        border-radius: 3%;
    }

    .linha {
        display: none;
    }


    /*Dev.Journey*/

    .principal__trilha__devjourney {
        justify-content: center;
    }

    .container {
        padding: 2rem 0 2rem 0;
        width: auto;
        margin: 2rem 0 2rem 0;
    }

    .principal__trilha__devjourney__info {
        font-size: 1.5rem;
        padding: 0.2rem;
        text-align: center;
    }

    .principal__trilha__devjourney__paragrafo {
        font-size: 1.2rem;
        margin: 0.5rem;
    }

    /*seção principal*/

    .principal__trilha__secao {
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0.5rem;
    }

    .principal__trilha__info {
        flex-direction: column;
        font-size: 0.6rem;
        width: 100%;
        padding: 0.2rem;
        margin-bottom: 2rem;
    }

    .principal__trilha__imagem img {
        width: 90%;
        height: 90%;
    }

    #secao__invertida {
        flex-direction: column-reverse;
    }

    /*participar*/

    .principal__participar {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
        padding: 0.2rem;
    }

    .principal__participar__dedicacao {
        font-size: 1.5rem;
        padding: 0.2rem;
    }

    .principal__participar__titulo {
        font-size: 2rem;
        padding: 0.2rem;
    }

    .principal__participar__info {
        font-size: 1.5rem;
        padding: 0.2rem;
    }

    /*rodape*/

    .rodape__apresentacao {
        font-size: 1.5rem;
        padding: 0.2rem;
    }

    .rodape__paragrafo {
        font-size: 1rem;
        padding: 0.2rem;
    }


}